/*===============   Typography and icons   ===============*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #0A2D44;
}
h1 {
    font-size: 120px;
    line-height: 112px;
}
h2 {
    font-size: 40px;
    line-height: 56px;
}
h3 {
    font-size: 32px;
    line-height: 48px;
}
h4 {
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
}

p {
    font-size: 16;
    line-height: 24px;
}

h1,
h2,
h3 {
    font-weight: 700;
    color:#0196DD;
}
h1 span {
    color: #F20069;
}

/*===============   Initial sizes, orientation and display rules  ===============*/

body,
.section-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
main,
footer {
    width: 100%;
    max-width: 1200px;
    min-width: 280px;
}

header {
    position: fixed;
    background-color: white;
}

.section-content-wrapper,
.nav-menu,
section,
.intro-section {
    display: flex;   
}

.section-content-wrapper {
    width: 100%;
    max-width: 1064px;
    padding: 0 20px;
}

/*===============   Control elements   ===============*/

.simple-button {
    padding: 12px 22px;
    border: none;
    border-radius: 0;
    font-weight: 700;
    color: white;
    cursor: pointer;    
}

.simple-link {
    display: block;
    padding: 12px 22px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button-pink, .link-pink {
    background-color: #F20069;
}

.button-blue, .link-blue {
    background-color: #0196DD;
}

a,
a:visited,
a:hover {
    color: #0A2D44;
}

/*===============   Header   ===============*/

header .section-content-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-header__logo {
    height: 36px;
    width: 118px;
    margin: 18px 40px 18px 0;
}

.nav-menu {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 687px;
}

.nav-menu__item {
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: extra-expanded;
    opacity: 0.5;
    cursor: pointer;
}

.burger-menu {
    display: none;
}

/*===============   Main Content   ===============*/

main {
    margin-top: 72px;
}

section {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

section:nth-child(even) {
    background-color: #F5F5F5;
}

section:nth-child(odd) {
    background-color: #FAFAFA;
}

.section-title {
    width: 100%;
    max-width: 848px;
    margin: 80px 0 60px;
    text-align: center;
}

/*===============   Intro section   ===============*/

.intro-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}


.intro-section .section-content-blok {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 702px;
    width: 100%;
}

.intro-section-content {
    max-width: 527px;
    margin-top: 60px;
    
}

.intro-section-content h2 {
    margin-top: 10px;
}

.intro-section-content p {
    margin: 40px 0;
}

.intro-section img {
    max-width: 498px;
}


/*===============   Symptoms section   ===============*/

.section-custom-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    width: 100%;
}

.symptoms-section .section-custom-list {
    margin-bottom: 20px;
}

.section-custom-list__item {
    display: inline-flex;
    align-items: center;
    max-width: 434px;
    margin-bottom: 60px;
    overflow-wrap: normal;
    
}

.section-custom-list__item::before {
    width: 60px;
    height: 60px;
    content: url(img/check.png);
    margin-right: 28px;
    background-color: white;
    
}

/*===============   Active substance section   ===============*/

.active-substance-section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.graph {
    max-width: 425px;
    max-height: 425px;
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
}

.graph-caption {
    max-width: 322px;
}

.graph-caption p {
    text-align: left;
    margin: 40px;
}
.graph-caption.simple-link {
    margin: 20px 0 40px;
}


/*===============   Use cases section   ===============*/

.use-cases-article {
    width: 100%;
    margin-bottom: 50px;
}

.article-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 498px;
    grid-template-rows: 110px 1fr;
    gap: 0px 40px;
    grid-template-areas:
    "article-title-content article-img"
    "section-custom-list article-img";
} 
.use-cases-article:nth-child(2n) .article-content {
    width: 100%;
    display: grid;
    grid-template-columns: 498px 1fr;
    grid-template-rows: 110px 1fr;
    gap: 0px 40px;
    grid-template-areas:
    "article-img article-title-content"
    "article-img section-custom-list";
}

.article-content img {
    max-width: none;
}

.article-img {
    grid-area: article-img;
    height: 498px;
    width: 498px;
}

.article-title-content {
    grid-area: article-title-content;
}

.section-custom-list {
    grid-area: section-custom-list;
}

.article-autor {
    font-size: 16px;
    line-height: 21,79px;
}

.article-title {
    font-size: 32px;
    line-height: 48px;
    color: #0A2D44;
}

.use-cases-article .section-custom-list {
    display: flex;
    flex-direction: column;
}

.use-cases-article .section-custom-list__item {
    margin: 40px 0 0 0;

}

.use-cases-section .simple-button {
    margin: 30px 0 80px;
}

/*===============   Treatment section   ===============*/

.treatment-section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.treatment-section-content-column {
    width: 100%;
    max-width: 498px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

}
.treatment-section-content-column img {
    width: 100%;
    max-width: 498px;
}
.treatment-section-content-column h4 {
    width: 100%;
    max-width: 322px;
    color: rgba(10, 45, 68, .5);
    text-align: left;
}
.treatment-section-content-column p{
    width: 100%;
    max-width: 322px;
    margin-top: 23px;

}

/*===============   Prescribing information section   ===============*/

.prescribing-information-section p {
    max-width: 848px;
    margin-top: 80px;
}
.simple-link {
    margin: 60px 0 80px;
}

/*===============   Side effects and Precautions section   ===============*/

.side-effects-section p {
    width: 100%;
    max-width: 848px;
    margin-bottom: 25px;
}

.side-effects-section p:last-child {
    font-weight: 700;
    margin-bottom: 80px;
}

/*===============   Learn more section   ===============*/
.learn-more-section p {
    width: 100%;
    max-width: 848px;
    margin-bottom: 30px;
    text-align: center;
}
.learn-more-section form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 400px;
}

.learn-more-section input {
    display: flex;
    flex-direction: row;
}

.learn-more-section .form-row {
    display: inline-flex;
    align-items: flex-end;
    height: 24px;
    margin-top: 13px;
}
.learn-more-section label {
    margin: 20px 20px 0 0;
}

.custom-text-form {
    height: 30px;
    margin-top: 10px;
    border: 1px solid #0A2D44;
    border-radius: 8px;
}
.custom-radio-form,
.custom-radio-checkbox {
    height: 24px;
    width: 24px;
    appearance: unset;
    border: 1px solid #0A2D44;
}

.custom-radio-form {
    margin: 0 16px 0 1px;
    border-radius: 50%;    
}
.learn-more-section button {
    align-self: center;
    margin: 60px 0 80px;
}
.custom-radio-checkbox {
    margin: 5px 16px 0 1px;
    align-self: end;
    background-color: #FAFAFA ;
}

/*===============   Page Footer   ===============*/

.page-footer .section-content-wrapper {
    margin: 0 auto;
}

.page-footer .section-content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}
.contacts p:nth-child(2) {
    font-weight: 700;
    margin: 20px 0 40px;
}


.copyright {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin: 60px auto 40px;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    height: 100%;
}

.footer-logo{
    width: 240px;
    margin-bottom: 57px;
}
.social-networks {
    display: inline-flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
}
.social-networks__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #0196DD;
}
.social-networks__item img{
    width: 24px;
}


/*===============   CSS events and states   ===============*/

.nav-menu__item_active {
    opacity: 1.0;
}

.custom-radio-form:checked,
.custom-radio-checkbox:checked {
    box-shadow: 0px 0px 0px 4px #FAFAFA inset;
    background-color: #0A2D44;
}

.custom-text-form:focus,
.custom-radio-form:focus,
.custom-radio-checkbox,
button:checked {
    outline: none;
}




@media screen and (max-width: 1035px) {

    /*===============   Intro section   ===============*/

    h1 {
        font-size: 86px;
        line-height: 86px;
    }
   
    .intro-section-content p {
        margin: 20px 0;
    }
    
    .intro-section-content {
        max-width: 450px;
        margin: 40px 0 60px;   
    }
    
    .intro-section img {
        max-width: 464px;
        max-height: 464px;
    }
    h2 {
        font-size: 40px;
        line-height: 56px;
    }

    /* ===============   Use cases section   =============== */
    .article-content img {
        height: 429px;
        width: 429px;
    }

    .article-content {
        display: grid;
        grid-template-columns: 1fr 429px;
        gap: 0px 40px;
        grid-template-areas:
        "article-title-content article-img"
        "section-custom-list article-img";
    }

}

@media screen and (max-width: 920px) {

    .section-title {
        margin-top: 60px;
    }

    /*===============   Intro section   ===============*/

    .intro-section img {
        max-width: 562px;
    }


    .intro-section h1 {
        font-size: 64px;
        line-height: 68px;
    }

    .intro-section h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .intro-section-content {
        max-width: 400px;
        margin-top: 40px;    
    }

    .intro-section-content p {
        margin: 20px 0 20px;
    }

    .intro-section img {
        max-width: none;
    }

    /* ===============   Use cases section   =============== */
    .article-content img {
        height: 400px;
        width: 400px;
        margin-top: 40px;
    }
    
    .use-cases-article:nth-child(2n) .article-content,
    .use-cases-article:nth-child(2n+1) .article-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article-autor,
    .article-title {
        text-align: center;
    }
    .use-cases-article .section-custom-list {
        max-width: 400px;
        align-items: flex-start;
    }


    /* +++++++++++++++ Burger menu ++++++++++++++++++ */
    .burger-menu {
        display: block;
        position: relative;
        height: 12px;
        width: 24px;
    }
    
    .burger-menu::before,
    .burger-menu::after {
        content: '';
        background-color: #0A2D44;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .burger-menu::before {
        top: 0;
    }
    
    .burger-menu::after {
        bottom: 0;
    
    }
    
    .burger-menu span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #0A2D44;
        top: 5px;
    }

    .nav-menu {
        position: fixed;
        top: 72px;
        background-color: #FAFAFA;
        max-width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        left: -100%;
        transition: all .5s ease 0s;
    }
    .nav-menu__item {
        margin-top: 15px;
    }

    .burger-menu.active-js::before {
        transform: rotate(45deg);
        top: 5px;
    }

    .burger-menu.active-js::after {
        transform: rotate(-45deg);
        bottom: 5px;
    }

    .burger-menu.active-js span {
        transform: scaleZ(0);
    }
    .nav-menu.active-js {
        left: 0;
    }
}

@media screen and (max-width: 768px) {

    .section-content-wrapper{
        max-width: 100%;
        width: 100%;
    }
    /*===============   Intro section   ===============*/

    .intro-section h2 {
        font-size: 40px;
        line-height: 56px;
    }

    .intro-section {
        flex-direction: column;
        align-items: center;
    }
    
    .main-content .section-content-wrapper {
        max-width: 100%;
        width: 100%;
    }

    .intro-section-content {
        max-width: 100%;
        width: 100%;
    }

    .intro-section-content h1,
    .intro-section-content h2 {
        text-align: center;
    }

    .simple-button {
        width: 100%;
    }

     /*===============   Active substance section   ===============*/

    .active-substance-section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* ===============   Treatment   =============== */

    .treatment-section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .treatment-section-content-column h4 {
        text-align: center;
    }
    .simple-link {
        width: 100%;
    }
    

}


@media screen and (max-width: 620px) {
    
    /*===============   Intro section   ===============*/

    .intro-section img {
        max-height: none;
        width: 100%;
    }

    /*===============   Symptoms section   ===============*/
   
    .section-custom-list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .section-custom-list__item {
        margin-bottom: 40px;
    }

    .article-content img {
        max-width: 320px;
        max-height: 320px;
    }
    
    .page-footer .section-content-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .contacts {
        text-align: center;
        margin-top: 40px;
    }

    .graph {
        max-width: 257px;
        max-height: 257px;
        margin-bottom: 40px;
    }

    .graph-caption {
        max-width: 100%;
    }

    
    
}   

@media screen and (max-width: 420px) {

    /*===============   Intro section   ===============*/

    .intro-section h1 span {
        display: block;
    }

    .article-content img {
        max-width: 280px;
        max-height: 280px;
    }

    .copyright {
        max-width: 280px;
        margin-bottom: 20px;
    }
    
}